<body>
    <div class="principal-container">
        <h3>&#129122;</h3>
        <p class="home">categorías</p>
        <div class="categ-row1">
            <h1>tc</h1>
            <h1>2000s</h1>
            <h1>tn c3</h1>
            <h1>trv6</h1>
            <h1>tn c2</h1>
            <h1>tcp</h1>
        </div>
        <div class="categ-row2">
            <h1>t2000</h1>
            <h1>tcpk</h1>
            <h1>tcm</h1>
            <h1>tcpm</h1>
            <h1>tp c3</h1>
            <h1>trs</h1>
        </div>
        <div class="categ-row3">
            <h1>tp c2</h1>
            <h1>tp c1</h1>
            <h1>pc a</h1>
            <h1>pc b</h1>
        </div>
    </div>
</body>
